openai
streamlit
streamlit_chat
langchain
sentence_transformers
unstructured
unstructured[local-inference]
poppler-utils
pdf2image
pillow==9.5.0
tiktoken
pinecone-client
pyautogui
numpy==1.24.3
layoutparser[layoutmodels,tesseract]
dotenv
