openai
streamlit
streamlit_chat
langchain
sentence_transformers
unstructured
unstructured[local-inference]
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6
poppler-utils
pdf2image
pillow==6.2.2
tiktoken
pinecone-client
pyautogui
